@import '../colors';

.comment-form {
  display: flex;
  flex-direction: column;

  .comment-form-comment {
    margin-top: -2px;
  }

  label {
    display: none;
  }
  label[for='wp-comment-cookies-consent'] {
    display: initial;
    margin-left: .5rem;
  }
  p.comment-form-cookies-consent {
    margin-top: 1rem;
    order: 10;
  }

  input#author,
  input#email,
  textarea#comment
  {
    width: 100%;
    height: 100%;
    background: none;
    padding: .5rem;
  }
  .comment-form-author {
    order: -2;
  }

  .comment-form-email {
    order: -1;
  }

  p {
    margin: 0;
  }

  .form-submit .submit {
    width: 100%;
  }
}