body.night_mode {
  filter: invert(1);
  background-color: $color-brand-dark;
}

body.night_mode img,
body.night_mode .has-background-dim,
body.night_mode .wp-block-embed{
  filter: invert(1);
}

body {
  transition: filter .4s;
}

img, .has-background-dim, .wp-block-embed {
  transition: filter .4s;
}
/* For IOS & macOS */
//noinspection CssInvalidMediaFeature
@media screen and (prefers-dark-interface) {
  body.night_mode {
    filter: invert(1);
    background-color: $color-brand-dark;
    transition: filter .4s;
  }

  body.night_mode img,
  body.night_mode .has-background-dim,
  body.night_mode .wp-block-embed{
    filter: invert(1);
  }
}