.search-form-hideable form {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.search-form-hideable form label {
  flex: 1;
}

.search-form-hideable form .search-field {
  background: none;
  border-bottom: 1px solid #aaa;
  width: 100%;
}

.search-form-hideable form .search-field:hover,
.search-form-hideable form .search-field:focus,
.search-form-hideable form .search-field:active {
  border-bottom-color: #000;
}

.search-form-hideable form a {
  border: none;
  font-style: normal;
  color: $color-brand-dark;
  margin-left: .5rem;
  margin-right: .5rem;
  cursor: pointer;
}

.hidden-by-search {
  display: none !important;
}

@media screen and (min-width: 42.5rem) {
  .search-form-hideable form {
    width: initial;
  }
}
